.container{
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: chartreuse;
    row-gap: 10px;
    border: 20px;
    padding: 10px;
    line-height: 70px;
    font-size:35px;
    cursor: pointer;

 }
    .container > a {
    width: 130px;
    line-height: 70px;
    text-align: center;
    margin: 20px;
}
.Blue{
    border-color: blue;
    background-color: blue;
}
.Yellow{
    border-color: yellow;
    background-color: rgb(241, 245, 9);

}
.White{
    background-color: rgba(255, 255, 255, 0);
    background-color: #ffffff;
}